{% extends 'base.html' %} {% block body %}

<div class="choices-container">
  <img src="{{ object.img.url }}" alt="Uploaded Image" />
  <div>
    <form method="post">
      <div class="choices-container--d-block">
        {% csrf_token %}
        <input type="password" name="message" class="default_input form-control" style="width: 35rem; margin-left: 1rem;" placeholder="Enter Secret Message">
        {% for choice,class in choices_with_classes.items %}
        <input type="submit" value="{{ choice }}" name="type" class="{{class}}" />
        {% endfor %}
      </div>
    </form>
  </div>

</div>

{% endblock body %}