{% extends 'base.html' %} {% block body %}

<div class="choices-container">
  <img src="{{ object.img.url }}" alt="Uploaded Image" />
  <div>
    <form method="post">
      <div class="choices-container--item">
        {% csrf_token %} 
        <input type="password" name="message" placeholder="Enter Secret Message">
        {% for choice in choices %}
        <input type="submit" value="{{ choice }}" name="type" />
        {% endfor %}
      </div>
    </form>
  </div>

</div>

{% endblock body %}