{% extends 'base.html' %}
{% block body %}
<div class="upload_container">
  <form id="form_id" method="post" enctype="multipart/form-data">
    <label for="id_img" class="upload-input-ui" ondrop="drop(event)" ondragover="allowDrop(event)">
      <i class="glyphicon glyphicon-cloud-upload text-danger"></i>
      <p class="text-secondary">Click here to upload or
        <strong class="text-cian">Drag</strong> and <strong class="text-cian">Drop!</strong>
      </p>
    </label>
    <div class="django-container">
      {% csrf_token %} {{ form.errors }} {{ form.as_p }}
    </div>
    <br />
    <div class="new-input-file d-flex" disabled>
      <p id="input_ui">File name here</p>
      <button id="upload_button" class="upload-button flex-item" type="submit">Upload</button>
    </div>
  </form>
</div>
{% endblock body %}