.container-fluid {
    /* display: flex;
    flex-direction: column; */
    margin: 0;
    padding: 0;
}
.about-section{
    display: flex;
    align-items: center;
    background-size: 55%;
    background-color:  #D3D3D3;
    overflow: hidden;
}
.about-section__mission p, .about-section p {
    text-align: left;
}
.full-width {
    width: 100vw;
    position: relative;
}
.flex-child {
    flex: 1;
    width: 55%;
    /* background-color: #fdfdfd; */
}

.flex-child:first-child{
    margin-right: 10px;
    padding-left: 50px;
}

.flex-child img {
    max-width: 412px;
    max-width: 295px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.main {
    font-size: 13px;
    color: var(--GRAY-300);
    line-height: 30px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
  }
.about-section__contributors {
    padding-bottom: 80px;
}
.about-section__stats {
    background-color: #D3D3D3;;
    margin: 0;
    padding-bottom: 4rem;
}


@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
        flex-direction: column;
    }
    .flex-child {
        flex-direction: column;
        width: 100%;
    }
    .inner-container{
        padding: 0px;
    }
}

@media screen and (max-width:480px) {
    .inner-container {
        max-width: 92%;
        width: 90%;
        padding: 0;
    }
    .navbar__list {
        width: 100%;
    }
    .text , .main{
        font-size: 2rem;
        text-align: center;
        justify-content: center;
        width: 90%;
        padding: 10px;
        margin-left: 5%;
    }
    h1, h2 {
        font-size: 3rem;
    }
}
