.container-fluid {
    display: flex;
    flex-direction: column;
}
#about-section{
    display: flex;
    align-items: center;
    background-size: 55%;
    background-color:  #D3D3D3;
    overflow: hidden;
}
#mission-statement p, #about-section p {
    text-align: left;
}

.flex-child {
    flex: 1;
    width: 55%;
    /* background-color: #fdfdfd; */
}

.flex-child:first-child{
    margin-right: 20px;
}

.flex-child img {
    max-width: 412px;
    max-width: 295px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
#app-stats {
    background-color: #D3D3D3;;
    margin: 0;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
