#file-upload-button {
    width: 100%;
    background-color: #04caf5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"] {
    width: 35rem; // 560px;
    background-color: #04caf5;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
}

input[type="file"] {
    width: 100%;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 2em;
    background: transparent;
    border: 1px solid #333;
    cursor: pointer;
}
.upload-input-ui {
  border: 1px dashed #6C757D;
  width: 100%;
  height: 200px;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: spaced-between;
  padding-top: 5rem;
}
.upload-input-ui p {
  font-size: 1.5rem !important;
}

.django-container label, input[type="file"] {
  display: none
}
.new-input-file {
  width: 100%;
  border-radius: 5px;
  line-height: 100%;
  font-size: 1.5em;
  background: #e9e9e9;
  border: 0.5px solid #A1A1A1;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.new-input-file p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #999999;
}
.upload-button {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  height: 40px;
  width: 110px;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: 1rem
}
.upload-button:hover {
  background: #000
}

footer .content .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}

@media screen and (max-width: 480px) {
  .upload-input-ui {
    border: 1px dashed #6C757D;
    width: 100%;
    height: 250px;
    cursor: pointer;
    border-radius: 15px;
  }
  
}

@media screen and (min-width: 480px) and (max-width: 900px) {
  .upload-input-ui p {
    font-size: 1.1rem;
  }
}