.contact-form__title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--BLACK-300);
}
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--GRAY-100);
  border-radius: 5px;
  padding: 0.5rem 4rem;
  box-shadow: 7px 7px 7px var(--GRAY-100);
  height: 600px;
}
.contact-form__input_group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-form__input {
  border: none;
  border-bottom: 1.9px solid var(--GRAY-200);
  width: 100%;
  padding-bottom: 0.5rem;
  transition: 0.2s;
  border-top-left-radius: 3px;
  color: var(--BLACK-200);
  border-top-right-radius: 3px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--BLACK-200);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--BLACK-200);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--BLACK-200);
}
.contact-form--label {
  display: flex;
  justify-content: start;
  padding: 0px;
  margin: 0px;
  color: var(--GRAY-200);
  font-weight: normal;
  font-size: 1.9rem;
}
.follow-widget {
  text-align: center;
  width: 90%;
  margin: 50px auto;
  display: table;
  border: 1px solid #ddd;
  padding: 10px 10px 20px;
  border-radius: 10px;
}
.follow-widget h2 {
  border-bottom: 1px solid #ddd;
  padding: 0px 0px 25px;
  font-size: 26px;
  letter-spacing: 1px;
}
.follow-widget ul{
  padding: 0px;
  margin: 0px;
}
.follow-widget li {
  float: left;
  list-style: none;
  font-size: 20px;
  text-align: center;
  margin: 10px 0px 10px;
  width: 16.666%;
}
.follow-widget li a i {
  background-color: #f1f1f1;
  color: #fff;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  line-height: 43px !important;
}
.follow-widget li a i:hover{
  opacity: 0.8;
}

.follow-widget li a i.fa.fa-twitter {
  background-color: #57aced;
  margin-left: 140px;
}

.follow-widget li a i.fa.fa-github {
  background-color: black;  
  margin-left: 140px;
}


