.choices-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.choices-container--item input{
  display: block;
  margin-bottom: 2rem;  
}

@media screen and (max-width: 737px) {
  .choices-container {
    display:flex;
    flex-direction: column;
    padding-bottom: 5rem;
  }
  .choices-container--item input {

  }
}