.choices-container {
  display: flex;
  justify-content: space-around;
  align-items: top;
  width: 100%;
}

.choices-container--d-block input {
  display: block;
}

.upload_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
