.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  background-color: var(--BLACK-300);
  height: 4rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: var(--WHITE);
}
