.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: 2rem;
}

.heading {
  font-size: 2rem;
}

.images {
  padding: 2rem;
}

.img1 {
  width: 21rem;
  height: auto;
  margin: 1rem;
}

.img-results {
  width: 20rem;
  height: auto;
  margin: 1rem;
}

.content-head {
  text-align: center;
  margin:3rem 0 2rem;
}

.content-list {
  flex-direction:column;
  background-color: #fff;
  font-size: 2rem;
  list-style-type: circle;
  padding: 0 1rem;
  overflow: visible;
}

.logo {
  height:10rem;
  width: auto;
  margin: 0 0 2rem 0;
}

.info {
  text-align: left;
}

.logo-and-info {
  flex-direction: column;
}