.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: 2rem;
}

.heading {
  font-size: 2rem;
}

.images {
  padding: 2rem;
}

.img1 {
  width: 21rem;
  height: auto;
  margin: 1rem;
}

.img-results {
  width: 20rem;
  height: auto;
  margin: 1rem;
}

@media screen and (max-width: 738px)  {
    .logo-and-info {
        flex-direction: column;
    }
}