.normal-input {
  width:100%;
  background-color: #FFF;
  border: 1px solid #444;
  padding: 0.5rem;
  border-radius: 4px;
  padding-left: 1rem;
}


@media screen and (max-width: 480px) {
  .normal-input {
    font-size: 2rem;
    width: 100%
    border: none !important;
    background-color: #F1F1F1;
    color: #fff !important;
    margin-left: 1rem;
  }
  input[type="submit"] {
    width: 100%;
  }
}