input[type="file"] {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 2em;
}
.normal-input {
  width:100%;
  border: 1px solid #111;
  background-color: transparent;
  color: #111;
  padding: 0.5rem;
  border-radius: 4px;
  padding-left: 1rem;
}