{% extends 'base.html' %}
{% block body %}
<div class="row about-section">
    <div class="flex-child inner-container">
        <h1>About IMGMAN</h1>
        <p class="text">
            IMGMAN is a unique web app which provides a myriad of image manipulation options
            such as image blurring, black and white filters, converting to pdf, adding
            grayscale effect, and resizing the image. It's built with Django, a Python web framework.
        </p>
    </div>
    <div class="flex-child">
        <img class="flex-child__img" src="../static/images/pic.jpg" alt="">
    </div>
</div>
<div class="about-section__mission">
    <div class="inner-container">
        <h1>Our Mission</h1>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio reiciendis dolorum
            repellendus sint atque sed et quas eveniet pariatur aspernatur dolor nisi aperiam,
            reprehenderit quae veniam. Cum praesentium molestiae doloremque.
        </p>
    </div>

</div>

<div class="container about-section__stats">
    <div class="row">
        <div class="col-xs-4">
            <h4>23K</h4>
            <h3>Images</h3>
            <p>Processed this year</p>
        </div>
        <div class="col-xs-4">
            <h4>195</h4>
            <h3>Countries</h3>
            <p>Our website is used all over the world</p>
        </div>
        <div class="col-xs-4">
            <h4>23K</h4>
            <h3>Images</h3>
            <p>Processed this year</p>
        </div>
    </div>
</div>
{% endblock body %}