{% extends 'base.html' %} 
{% block body %}
<div id="about-section" class="row">
    <div class="flex-child inner-container">
        <h1>About IMGMAN</h1>
        <p class="text">
            IMGMAN is a unique web app which provides a myriad of image manipulation options 
            such as image blurring, black and white filters, converting to pdf, adding 
            grayscale effect, and resizing the image. It's built with Django, a Python web framework.
        </p>
    </div>
    <div class="flex-child">
        <img src="../static/images/pic.jpg" alt="">
    </div>
</div>
<div id="mission-statement">
    <div class="inner-container">
        <h1>Our Mission</h1>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio reiciendis dolorum 
            repellendus sint atque sed et quas eveniet pariatur aspernatur dolor nisi aperiam, 
            reprehenderit quae veniam. Cum praesentium molestiae doloremque.
        </p>
    </div>
    
</div>
<div id="contributors">
    <div class="inner-container">
        <h1>Our Contributors</h1>
        <p class="text">Thank you to all who contributed to the completion of this project...</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img src="static/images/contributors/kailash.jpeg" alt="">
                <h4>kailashchoudhary11</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/pedro-demeu.jpeg" alt="">
                <h4>pedro-demeu</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/cassreinhart.png" alt="">
                <h4>cassreinhart</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/highb33kay.jpeg" alt="">
                <h4>highb33kay</h4>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img src="static/images/contributors/Swap-Nova.jpeg" alt="">
                <h4>Swap-Nova</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/musavveer.jpeg" alt="">
                <h4>musavveer</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/hari-ajidesh.jpeg" alt="">
                <h4>hari-ajidesh</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/Tubaleviao.png" alt="">
                <h4>Tubaleviao</h4>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img src="static/images/contributors/yusrilia.png" alt="">
                <h4>yusrilia</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/VaibhavArora314.jpeg" alt="">
                <h4>VaibhavArora314</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/pratyusha0710.png" alt="">
                <h4>pratyusha0710</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/tamoghna-dey.png" alt="">
                <h4>tamoghna-dey</h4>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img src="static/images/contributors/tejus0.png" alt="">
                <h4>tejus0</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/dasashreeya.png" alt="">
                <h4>dasashreeya</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/UjjwalAggarwal.png" alt="">
                <h4>UjjwalAggarwal-1</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/LoganTann.png" alt="">
                <h4>LoganTann</h4>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img src="static/images/contributors/leenuli.png" alt="">
                <h4>leenuli</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/Ajeigbetaiwomatthew.png" alt="">
                <h4>Ajeigbetaiwomatthew</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/Karansemwal.jpeg" alt="">
                <h4>Karansemwal</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/israelmitolu.jpeg" alt="">
                <h4>israelmitolu</h4>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img src="static/images/contributors/WraitH17.jpeg" alt="">
                <h4>WraitH17</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/MartinaVukanovic.png" alt="">
                <h4>MartinaVukanovic</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/imcobrakai.png" alt="">
                <h4>imcobrakai</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/shrishti147.jpeg" alt="">
                <h4>shrishti147</h4>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img src="static/images/contributors/Sohaib-50.jpeg" alt="">
                <h4>Sohaib-50</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/harshhes.jpeg" alt="">
                <h4>harshhes</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/sb-decoder.jpeg" alt="">
                <h4>sb-decoder</h4>
                <p></p>
            </div>
            <div class="col-xs-3">
                <img src="static/images/contributors/Srikarmk.jpeg" alt="">
                <h4>Srikarmk</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div id="app-stats" class="container">
    <div class="row">
        <div class="col-xs-4">
            <h4>23K</h4>
            <h3>Images</h3>
            <p>Processed this year</p>
        </div>
        <div class="col-xs-4">
            <h4>195</h4>
            <h3>Countries</h3>
            <p>Our website is used all over the world</p>
        </div>
        <div class="col-xs-4">
            <h4>23K</h4>
            <h3>Images</h3>
            <p>Processed this year</p>
        </div>
    </div>
</div>
{% endblock body %}
