<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <ul>
      <li>
        <a class="active" href="add-the-path-here"
          ><i class="glyphicon glyphicon-home"> </i> Home Page</a
        >
      </li>
      <li>
        <a class="active" href="add-the-path-here"
          ><i class="glyphicon glyphicon-upload"> </i> Upload Pic</a
        >
      </li>
      <li>
        <a class="active" href="add-the-path-here"
          ><i class="glyphicon glyphicon-refresh"></i>Covert pic</a
        >
      </li>
      <li>
        <a class="active" href="add-the-path-here"
          ><i class="glyphicon glyphicon-info-sign"></i>About us</a
        >
      </li>
      <li>
        <a class="active" href="add-the-path-here"
          ><i class="glyphicon glyphicon-user"></i>Contact us</a
        >
      </li>
    </ul>
    <div class="container-fluid">{% block body %}{% endblock body %}</div>
    <div class="footer">
      <i class="fa fa-github" style="font-size: 36px"></i>
      <p>
        Your Github name<br />
        <a href="mailto:someting@example.com">something@example.com</a>
      </p>
    </div>
  </body>
</html>
