{% extends 'base.html' %} {% block body %}
<div class="main">
  <form method="post" class="contact-form">
    <h1 class="contact-form--title">Contact Form</h1>
    <div class="inputs">
      <div class="input-group">
        <input type="text" class="contact-form--input" name="name" placeholder="Full name" />
      </div>
      <div class="input-group">
        <input type="email" class="contact-form--input" name="email" placeholder="E-mail" />
      </div>
      <div class="input-group">
        <textarea class="contact-form--input" name="subject" placeholder="How can we help?"
          style="height: 100PX"></textarea>
      </div>
    </div>
    <input class="contact-form--button" type="submit" value="Send" />
  </form>

</div>
{% endblock body %}