{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block body %}

<div>
    {% load static %}
    <img src="{% static 'images/logo.png' %}" alt="imgman-logo">
</div>

<div>
    <p class="content">imgman is a unique web app which provides myriad of image manipulation options like blurring of
        image, black and white filters, converting to pdf, adding grayscale effect, resizing the image. It's built with django, a python web framework.</p>
</div>

<div class="images">

    <p class="heading">Uploaded Base Image:</p>
    {% comment %} <img class="img1" src="{% static 'images/img-manipulation/base-img.jpg' %}" alt="base-image"> {% endcomment %}

    <div>
        <p class="heading">Results: </p>
        {% comment %} <img class="img-results" src="{% static '/images/img-manipulation/gray.png' %}" alt="gray-image">
        <img class="img-results" src="{% static '/images/img-manipulation/blur.png' %}" alt="blur-image">
        <img class="img-results" src="{% static '/images/img-manipulation/black.png' %}" alt="black-image">
        <img class="img-results" src="{% static '/images/img-manipulation/tint.png' %}" alt="tint-image"> {% endcomment %}
    </div>
</div>



{% endblock body %}